local CONFIGURATION = {
    api_key = "YOUR API KEY",
    
    text_endpoint = "https://api.openai.com/v1/chat/completions",
    text_model = "gpt-5-nano",

    voice_endpoint = "https://api.openai.com/v1/audio/speech",
    voice_model = "gpt-4o-mini-tts",
    voice_voice = "nova",

    output_language = "English",

    translation_target_language = "Ukrainian",

    images = true,

    update_check = true,
    
    debug_mode = false,  
}

return CONFIGURATION
